nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #777;

  .brand, .links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .brand {
    img {
      width: 40px;
      margin-right: .6em;
    }

    h2 {
      transition: .4s;

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .links {
    li {
      margin-right: 1em;
      list-style: none;
    }

    a {
      padding: .1em .3em;
    }

    .router-link-active {
        color: var(--primary-color);
    }
  }

  @media screen and (max-width: 420px){
    flex-direction: column;
    gap: 1em;
  }
}
