.home-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    margin-bottom: 0;
  }

  .search-container {
    margin: 2em auto;
    width: 100%;


    form {
      width: 30%;
      position: relative;
    }

    .icon {
      position: absolute;
      top: 8px;
      left: 8px;
    }

    input {
      padding: .5em;
      width: 100%;
      text-align: center;
    }
  }

  section {
    width: 100%;
  }

  .moments-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 1em;
    max-width: 80%;
    margin: 0 auto;
  }

  @media screen and (max-width: 800px){

    h1 {
      text-align: center;
    }

    .search-container {
      form {
        width: 100%;
        padding: 0 16px;
      }

      .icon {
        left: 24px;
      }
    }

    .moments-container {
      display: flex;
      flex-direction: column;
    }
  }
}
