:root {
  --primary-color: #dec129;
  --color-text: #444;
  --red-form: #DC3545;
  --blue-button: #007bff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: .4s;

  &:hover {
    color: var(--primary-color);
  }
}

// Forms
form {
  width: 450px;
  margin: 0 auto;

  @media screen and (max-width: 600px){
    width: 100%;
    margin: auto;
    padding: 1em;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    label {
      font-weight: bold;
      font-size: .9em;
      margin-bottom: .4em;
    }

    input, textarea {
      padding: .6em;
      color: #777;
      font-size: .8em;

      &::placeholder {
        font-size: 1em;
      }
    }
  }

  input[type="submit"] {
      background-color: #efefef;
      border: 2px solid transparent;
      padding: .6em 1em;
      font-weight: bold;
      font-size: 1.1em;
      transition: .4s;
      cursor: pointer;

      &:hover {
        border-color: var(--primary-color);
        color: var(--primary-color);
        background-color: transparent;
      }
  }

  .validation-error p {
    color: var(--red-form);
    margin-top: .4em;
    border-left: 3px solid var(--red-form);
    padding-left: .2em;
  }
}

.edit-btn,
.remove-btn {
  border: 1px solid #efefef;
  padding: .4em 1em;
  font-size: 1em;
  margin: 0 .5em;
  cursor: pointer;
  background-color: #fff;
  transition: .4s;

  .icon {
    margin-right: .2em;
  }

  &.edit-btn, &.edit-btn path {
    border-color: var(--blue-button);
    color: var(--blue-button);
  }

  &:hover, &:hover path {
    color: #fff;
    background-color: var(--blue-button);
  }

  &.remove-btn, &.remove-btn path {
    border-color: var(--red-form);
    color: var(--red-form);
  }

  &.remove-btn:hover, &.remove-btn:hover path {
    color: #fff;
    background-color: var(--red-form);
  }
}
